.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.root {
  width: 268px;
  height: 388px;
  margin: 16px;
  perspective: 1000px;
}